/*results in the "aside" elements to be placed beside the "main" elements*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*changes the color of the background to a light grey color*/
body {
    background-color: #d9dcd6;
}

/*styles the top of the page with padding, fonts, and colors*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*centers and enlarges the "Horiseon" logo*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/*styles the "seo" in the "Horiseon" logo to be a different color*/
header h1 .seo {
    color: #d9dcd6;
}

/*styles the navigation options in the top of the page with spacings, sizes, and fonts*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*removes the bullet points from the navigation options in the top of the page*/
header nav ul {
    list-style-type: none;
}

/*spaces and aligns the nagivation options in the top of the page*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*changes the color of the links to white*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*forces the font size in the paragraphs to a specific size*/
p {
    font-size: 16px;
}

/*adds, sizes, and positions the big picture under the header*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*styles the text in the first and third boxes in the "main" section to the right of their respective boxes*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*styles the text in the second box in the "main" section to the right of the box*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*decreases the width of and aligns the "content" elements to make room for the "aside" elements*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*styles the "aside" elements to be on the side of the page. Also assigns fonts and colors*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*adds space below "aside" element body text */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Adds a margin below and aligns the "aside" header text*/
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*styles, spaces, and sizes the images in the "aside" section*/
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*styles, fonts, colors, and spaces the sections in the main section*/
main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*sizes the image in the main section*/
main img {
    max-height: 200px;
}

/*spaces and sizes the headers in the main section*/
main h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*spaces, aligns, and adds fonts to the footer section*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*adjusts the font size of the header in the footer section*/
footer h2 {
    font-size: 20px;
}
